body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #EEEFF1;
}

header{
    padding: 79px 0;
}

.wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}   

.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

nav{
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 646px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #34547A;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    line-height: 26px;
    letter-spacing: 0.1em;
    margin-left: -4px;
}

nav ul li+li{
    padding-left: 42px;
}


.caption{
    padding: 72px 0 141px;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.text-block{
    max-width: 540px;
}

h1{
    line-height: 55px;
    color: black;
    font-weight: 500;
    font-size: 48px;
    margin: 0;
}

.caption > p{
    margin: 60px 0 0 0 ;
}

.btn{
    display: inline-block;
    width: 225px;
    padding: 23px 10px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 80px;
    text-align: center;
    background-color: #34547A;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
}

.btn:hover{
    background-color: #294d7a;
}

.about{
    background-color: #FFFFFF;
    text-align: center;
    color: #727272;
    padding: 112px 0px 100px;
}

.about-div{
    max-width: 540px;
    margin: 0 auto;
    line-height: 26px;
}

h2{
    color: black;
    font-weight: 500;
    font-size: 32px;
    margin: 0 auto;
}

.about p{
    margin: 50px auto 0;
}

.projects{
    padding: 100px 0 ;
    background-color: #34547A;
}

.projects ul{
    margin: 0px auto;
    
}

.projects ul li{
    width: 141px;
    display: inline-block;
}

.projects ul li+li{
    margin-left: 48px;
}

.content{
    max-height: 50px;
    display: inline-block;
    vertical-align: top;
}

.title-frty{
    display: block;
    padding: 3px 31px 7px 20px;
    font-weight: 500;
    font-size: 21px;
    color: white;
}

.title-prjt{
    display: block;
    padding: 0 0 3px 20px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.how-do-work{
    background-color: #EEEFF1;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 100px 0 100px 0;
}

.how-do-work-text{
    max-width: 540px;
    margin: 0 auto;
}

.how-do-work h2{
    font-weight: 500;
    font-size: 32px;
    margin: 0 auto;
    color: black;
}

.how-do-work p{
    margin: 50px auto 0;
}

iframe{
    width: 1100px;
    height: 600px;
    margin: 57px auto 0 ;
    border: 0;
}

footer{
    background-color: #34547A;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 50px 0;
}

h3{
    line-height: 25px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
}

footer span{
    font-weight: 400;
    font-size: 13px;
}