body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #EEEFF1;
}

nav{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin: 79px 0 151px 20.78125%;
    width: 646px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    line-height: 26px;
    letter-spacing: 0.1em;
    margin-left: -4px;
}

nav ul li+li{
    padding-left: 42px;
}

.checked{
    font-weight: 500;
    color: #34547A;
}

.caption{
    margin-left: calc(20.78125% - 4px);
    width: 541px;
    margin-bottom: 141px;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

h1{
    line-height: 55px;
    color: black;
    font-weight: 500;
    font-size: 48px;
    margin: 0;
}

.caption > p{
    margin: 60px 0 0 0 ;
}

.caption a{
    display: inline-block;
    width: 225px;
    height: 65px;
    margin-top: 80px;
    text-align: center;
    background-color: #34547A;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: white;
}

.caption a p{
    margin: 19px 41px 20px 41px;
}

.about{
    background-color: #FFFFFF;
    text-align: center;
    color: #727272;
}

.about-div{
    width: 540px;
    margin: 0 auto;
    padding: 112px 2px 100px 2px;
    line-height: 26px;
}

h2{
    color: black;
    font-weight: 500;
    font-size: 32px;
    margin: 0 auto;
}

.about p{
    margin: 50px auto 0;
}

.projects{
    background-color: #34547A;
}

.projects ul{
    width: 1111px;
    margin: 0px auto;
    padding: 100px 0 ;
}

.projects ul li{
    width: 141px;
    display: inline-block;
}

.projects ul li+li{
    margin-left: 49px;
}

.content{
    max-height: 50px;
    display: inline-block;
    vertical-align: top;
}

.title-frty{
    padding: 3px 31px 7px 20px;
    font-weight: 500;
    font-size: 21px;
    color: white;
}

.title-prjt{
    padding: 0 0 3px 20px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.how-do-work{
    background-color: #EEEFF1;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.how-do-work-text{
    width: 540px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.how-do-work h2{
    font-weight: 500;
    font-size: 32px;
    margin: 0 auto;
    color: black;
}

.how-do-work p{
    margin: 50px auto 0;
}

iframe{
    width: 1100px;
    height: 600px;
    margin: 57px auto 100px auto;
    border: 0;
}

footer{
    background-color: #34547A;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 50px 0 50px 21.1458333%;
}

h3{
    line-height: 25px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
}

footer span{
    font-weight: 400;
    font-size: 13px;
}